/dist/
/toolkit/packages/modules/*.zip
/toolkit/logs/
/toolkit/devices/*/ota/cache/
/toolkit/devices/*/ota/generated-stock-boots.json
/toolkit/devices/*/ota/generated-patched-boots.json
/toolkit/devices/*/images/boot_*_magisk_*.img
